body{
    background-color: blue;
    background:url("../images/stars.jpg");
    background-repeat: repeat;

    margin:0px;
}
h1{
    color:red;
    font-size:20px;
}
h2{
    color:yellow; 
}
.bigtitle{
    color:green;
    font-size:70px;
}

div{
       display:inline-block;
    width:31%;
    border: 1px solid black;
    padding-left:1px;

}
.first{
    background-color:red; 
    font-family:monospace;
}
.second{
    background-color:green;
    
}
.third{
    background-color:yellow;
    
}
.menu{
    width:30%;
    background-color:yellow;
    border:0px;
    height:100%;
    position:fixed;
    right:0px;
    top:0px;
    
    font-family:fantasy;
}
.content{
    width:70%;
    word-wrap: break-word;
    
    font-family: 'Open Sans Condensed', sans-serif;
}

#specific{
	color: blue;
	font-size: 35px;
	
}
